.Welcome{
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 100%;

    background-color: chartreuse;
    border-radius: 20px;
    border: 5px solid black
}